body {
  font-family: "Poppins", sans-serif;
  background: #f5f7fa;
  margin: 0;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #d81324;
  padding: 3px 3em;
  color: #fff;
  font-weight: 600;
  z-index: 1000;
  /*   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  max-width: 400px;
  min-width: 250px;
  height: calc(100vh - 70px);
  background: #fff;
  padding-top: 20px;
  /*   box-shadow: 2px 0 15px rgba(0, 0, 0, 0.05); */
  position: sticky;
  top: 70px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  border-left: 4px solid transparent;
  color: #444;
  transition: 0.3s;
}

.sidebar li.active,
.sidebar li:hover {
  background: #eef5ff;
  border-left: 4px solid #d81324;
  color: #d81324;
}

/* MAIN CONTENT */
.container {
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

.form-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: max-content;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

button {
  background: #d81324;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #d81324;
}

/* LIST VIEW */
.list-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  width: 100%;
}

.item-card {
  background: #fff;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  position: relative;
  max-width: 250px;
  width: 100%;
}

.item-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.item-card h3 {
  margin: 10px 0 5px;
}

.item-card p {
  color: #666;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.action-btn {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.edit-btn {
  background: #ffc107;
  color: #333;
}

.delete-btn {
  background: #dc3545;
  color: #fff;
}

.edit-btn:hover {
  background: #e0a800;
}

.delete-btn:hover {
  background: #c82333;
}
